#app .wrapper {

    .modal-form {

        .modal-body {
            width: 100%;
            margin: 0;
        }
    
        .modal-header {
            background-color: #e3e1e0b8;
        }
    
    }
    
}
