.topnav {

    .navbar-nav {

        .nav-item {
            .nav-link {
                color: #fff;
        
                span {
                    margin-left: 5px;
                }
            }

            .dropdown-menu {
                position: absolute;

                .nav-link {
                    color: #000;

                    &:focus {
                        background: none;
                    }
    
                    &:hover {
                            background-color: rgba(153, 153, 153, 0.4);
                            border-color: rgba(153, 153, 153, 0.4);
                    }
                }
            }

            .account {
                min-width: 125px;
            }
        }

    }

}