$theme-colors: () !default;

/*
$theme-colors: map-merge((
  primary:       #4285F4,
  secondary:     grey,
  success:       green,
  info:          cyan,
  warning:       yellow,
  danger:        red,
  light:         #e9ecef,
  dark:          black,
), $theme-colors);
*/

$theme-colors: map-merge((
  blue: #2196f3,
  indigo: #3f515b,
  purple: #9c27b0,
  pink: #e91e63,
  red: #f44336,
  orange: #ff9800,
  yellow: #ffeb3b,
  green: #4caf50,
  teal: #009688,
  cyan: #00bcd4,
  white: #fff,
  gray: #6c757d,
  gray-dark: #343a40,
  primary: #3f51b5,
  secondary: #6c757d,
  success: #4caf50,
  info: #03a9f4,
  warning: #ff5722,
  danger: #f44336,
  light: #f5f5f5,
  dark: #424242,
), $theme-colors);

a, a:active, a:visited, a:hover {
  color: blue;
  text-decoration: none;
}
