$offset: 187;
$duration: 1.4s;

app-loader {

  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfd3d51c;
  top: 0;

  .loader,.loader:before,.loader:after{
    top:0;
    bottom:0;
    left:0;
    right:0; 
    content:"";
    position:absolute;
    border-radius:50%;
  }

  .loader{
    position:fixed;
    width:100px;
    height:100px;
    margin:auto;
    animation:spin 4s linear infinite;
  }
  
  @keyframes spin{
    100%{transform:rotate(360deg);filter:hue-rotate(360deg)}
  }
  
  .loader:before{
    border:5px solid #aaa;
    border-bottom:5px solid orange;
    border-left:5px solid orange;
    animation:spin1 1s linear infinite;
  }
  
  .loader:after{
    border:5px solid #aaa;
    border-top:5px solid transparent;
    border-right:5px solid transparent;
    animation:spin2 1s linear infinite;
  }
  
  @keyframes spin1{
    20%{transform:rotate(150deg)}
    40%{transform:rotate(300deg)}
    80%{transform:rotate(300deg)}
    100%{transform:rotate(360deg)}
  }
  
  @keyframes spin2{
    0%{transform:rotate(-30deg)}
    20%{transform:rotate(-30deg);
        border-color:transparent transparent #aaa #aaa}
    21%{border-color:orange orange transparent transparent}
    40%{transform:rotate(-30deg)}
    60%{transform:rotate(120deg);
        border-color:orange orange transparent transparent}
    61%{border-color:transparent transparent #aaa #aaa}
    80%{transform:rotate(270deg)}
    100%{transform:rotate(330deg);}
  }



/*
    .spinner {
      animation: rotator $duration linear infinite;
    }
    
    @keyframes rotator {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(270deg); }
    }
    
    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
    }
    
    @keyframes colors {
        0% { stroke: #4285F4; }
        25% { stroke: #DE3E35; }
        50% { stroke: #F7C223; }
        75% { stroke: #1B9A59; }
      100% { stroke: #4285F4; }
    }
    
    @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
      stroke-dashoffset: $offset/4;
      transform:rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(450deg);
    }
    }
    */
    
}
