<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Smart Home</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5">

    <!-- Form -->
    <form id="loginForm" class="text-center" style="color: #757575;">

      <!-- Username -->
      <div class="md-form">
        <input type="text" id="username" name="username" required class="form-control">
        <label for="username">Username</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="password" name="password" required class="form-control">
        <label for="password">Password</label>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 login">Sign in</button>

    </form>
    <!-- Form -->

  </div>

</div>