<div class="card login">

	<h3 class="card-header bg-primary-dark white-text text-center py-4">
		<strong data-i18n="login.title"></strong>
	</h3>

	<div class="card-body px-lg-5">

		<form id="loginForm" class="text-center">

			<div class="form-group">
				<div class="input-group">
					<div class="floating-label floating-label-lg">
						<label for="username" data-i18n="login.username"></label>
						<input type="text" id="username" name="username" required class="form-control" size=40 autofocus>
					</div>
					<span class="input-group-icon" id="exampleIconInput7Help">
						<i class="fas fa-user fa-2x"></i>
					</span>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="floating-label floating-label-lg">
						<label for="password" data-i18n="login.password"></label>
						<input type="password" id="password" name="password" required class="form-control" size=40>
					</div>
					<span class="input-group-icon" id="exampleIconInput2Help">
						<i class="fas fa-key fa-2x"></i>
					</span>
				</div>
			</div>

			<button class="btn btn-primary my-1 float-right login" data-i18n="login.login"></button>

		</form>

	</div>

</div>