<div class="modal fade" id="changePasswordModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" data-i18n="common.changePasswordTitle"></h4>
      </div>
      <div class="modal-body">
        <form id="formChangePassword" novalidate data-validator="security">
          <div class="form-group">
              <div class="floating-label">
                  <label for="oldPassword" data-i18n="security.oldPassword"></label>
                  <input type="password" id="oldPassword" name="oldPassword" reuired  class="form-control" autofocus value="">
                  <div id="validity-oldPassword" class="invalid-feedback"></div>
                </div>
          </div>
          <div class="form-group">
              <div class="floating-label">
                  <label for="password" data-i18n="security.password"></label>
                  <input type="password" id="password" name="password" required class="form-control" value="">
                  <div id="validity-password" class="invalid-feedback"></div>
                </div>
          </div>
          <div class="form-group">
              <div class="floating-label">
                  <label for="repeatPassword" data-i18n="security.repeatPassword"></label>
                  <input type="password" id="repeatPassword" name="repeatPassword" required class="form-control" value="">
                  <div id="validity-repeatPassword" class="invalid-feedback"></div>
                </div>
          </div>
        </form>
        <div id="securityMessageContainer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" data-i18n="common.cancel"></button>
        <button type="button" class="btn btn-primary btn-save" data-i18n="common.save"></button>
      </div>
    </div>
  </div>
</div>