<div class="row w-100 m-0 w-100 flex-column flex-nowrap page-container">
    <div class="header-container w-100">
        <h3 data-i18n="docs.listTitle"></h3>
    </div>
    <div class="row m-0 mb-2 d-flex justify-content-end nav-actions">
        <button class="btn btn-primary my-1 ripple" id="btnCreateDoc">
            <i class="fas fa-plus" class="menu-icon"></i>
            <span class="label" data-i18n="docs.btnCreateDoc"></span>
        </button>
    </div>
    <div class="row m-0 d-flex justify-content-start" id="data-container" class="data-container">
        <table class="table table-striped mb-0">
            <thead class="thead-dark">
                <tr class="d-flex">
                    <th scope="col" data-i18n="docs.type" class="col-3 text-center" data-target="type"></th>
                    <th scope="col" data-i18n="docs.title" class="col-3 text-center" data-target="title"></th>
                    <th scope="col" data-i18n="docs.insertBy" class="col-4 text-center" data-target="insertBy"></th>
                    <th scope="col" data-i18n="docs.insertAt" class="col-4 text-center" data-target="insertAt"></th>
                    <th scope="col" class="col-2 text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="list-container" class="list-container"></tbody>
        </table>
    </div>
</div>